* {
  margin: 0;
  padding: 0;
}


:root{
  --book-img-height: 200px;
  --book-img-width:133px;
  --bg-color-1: rgba(251,247,222,1);
  --bg-color-2: rgba(225,198,153,1);
  --dark-color: #2D1E2F;
  --modal-background: #fDf2c9;
  --book-title-font-size: 26px;
  --book-title-h2-font-size:24px;
  --droppable-width: 140px;
}

html {
  height:100%;
}
body {
  text-align: center;
  font-family: "hind", serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  background: rgb(251,247,222);
  background: linear-gradient(120deg,var(--bg-color-1) 0%, var(--bg-color-1) 35%, var(--bg-color-2) 100%);
  background-attachment: fixed;
}

a {
  color: #B2D3A8;
}

.App-header {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: #EDE5A6;

}

.header-nav{
padding: 0px 10px;
}

.header-nav h1 {
  font-size: 24px;
}

h1 {
  font-family: "Crimson Text";
  font-weight:700;
  font-size: 36px;
}

h2 {
  font-size: var(--book-title-font-size);
  font-family: "Crimson Text";
  font-weight:600;
}

.score {
  font-weight: bolder;
  background-color: #823200;
  font-size:24px;
  color:#EDE5A6;
  padding:3px 8px;
  border-radius:2px;
}

.book {
  width:var(--book-img-width);
  height:var(--book-img-height);
  padding:5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}



.book img {
  height: var(--book-img-height);
}

.bookToPlace {
display:flex;
flex-direction: row;
align-items: baseline;
border-radius: 5px;
margin:1rem;
padding:1rem;
box-shadow: 0px 5px 5px #823200;

background-color: rgba(225,198,153,0.1)
}

#bookToPlaceData{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left:1rem;
}

.mysteryBook {
  background-color: #e1c699;
  font-size: 80px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.mysteryBookNoCover {
  font-size: 30px;
}

.textBook {
  background-color: #e1c699;
  border:1px dashed var(--dark-color);
  font-size: 24px;
  font-family: "Crimson Text";
  justify-self: left;
  align-items: center;
}

.bookContainer {
  margin:10px;
}

.bookData {
  color: #e1c699;
  background-color: var(--dark-color);
  border-radius: 5px;
  
  width:var(--book-img-width);
  font-family: "Crimson Text";
  padding: 5px;
}

.fail {
  border-radius: 5px;
  
  width:var(--book-img-width);
  font-family: "Crimson Text";
  padding: 5px;
  background-color: #9B3D12;
  color: #e1c699;
}

.bookTitle {
  font-size: var(--book-title-font-size)
}
.bookAuthor {
  font-size:14px;
}

#containerParent {
  width:100vw;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color-1) #823200 ;
}

.container {
  display:flex;

  flex-direction: row;
  height: fit-content;
  justify-content: center;
  
margin-top: 2rem;
padding: 0 10px;

}

#firstTurnHint{
  width:200px;
}

hr {
  height:5px;
  width:100%;
  color:#9B3D12;
  border:0;
border-radius: 30%;
  background: #9B3D12;
}


.droppable {
  width:calc(var(--droppable-width)/5);
  height:var(--book-img-height);
  transition: width 1s;
  flex-shrink: 0;
  display:flex;
  flex-direction: row;
  align-items: center;

}

.over {
  width:var(--droppable-width);
  background-color: #e1c699;
  border-radius: 5%;
}



.new-game-parent {
  display:flex;
  height:inherit;
  justify-content: center;
  align-items:  center;

}

.new-game-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:fit-content;
  border: 1px solid #823200;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--modal-background);
  box-shadow: 0px 5px 3px #823200;
}

button {
  background-color: #823200;
  color:#EDE5A6;
  border-radius: 20px;
  border:0;
  padding:10px;
  margin:20px 0 0 0;
  width:100px;

}

button:hover {
  background-color: #9B3D12;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
  width:100vw;
}
.footer {
  font-family:"hind";
  margin-bottom:0px;
  background-color: var(--dark-color);
  color:#EDE5A6;
  padding:20px;
  height:30px;

}

.main {
  min-height: 80vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}



.shareModal {
  background-color:var(--modal-background);
  border: 1px solid #9B3D12;
  border-radius: 5px;
  width:65%;
  height:fit-content;
  box-shadow: 0px 5px 5px #823200;
 margin-left:auto;
 margin-right:auto;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  z-index: 100;
  padding:20px;
}

.shareModal header {
  font-family: "Crimson Text";
  font-size: 24px;
  margin-right:auto;
  border-bottom: 1px solid var(--dark-color);
}

.shareModal footer {
  border-top: 1px solid var(--dark-color);
  margin-top: auto;
  margin-left:auto;
}

.shareModal button {
  margin:5px;
}

.message {
  margin: 30px;

}


/* spinner */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bookData {
  margin-top:20px;
}

.fail {
  margin-top: 20px;
}

@media screen and (max-width:800px){
  :root{
    --book-img-height: 100px;
    --book-img-width:65px;
    --book-h2-title-font-size: 14px;
    --book-title-font-size: 12px;
    --droppable-width: 70px;
  }
  
  
  .footer {
    height: auto;
  }


}